{% extends "base.html" %}

{% block content %}
<h1>Integritetspolicy</h1>
<p>
NPC-skaparen hämtar följande uppgifter om sina användare från Facebook:<br>
<ul>
	<li>Förnamn</li>
	<li>E-mail</li>
	<li>Facebook-id</li>
</ul>
Ingen av dessa uppgifter delas med någon annan part.<br>
Nedan följer en beskrivning av hur uppgifterna används av NPC-skaparen.
</p>
<h2>Förnamn</h2>
<p>
Förnamnet används för att skapa ett användarnamn i NPC-skaparen. Detta kan sedan ändras av användaren.
</p>
<h2>E-mail</h2>
E-mailadressen används för att NPC-skaparens utvecklare ska kunna kontakta användaren vid till exempel ändring av användarvillkor eller integritetspolicy, eller vid större uppdateringar av funktionerna i NPC-skaparen. Den används aldrig för marknadsföring av andra produkter från ZyntabSoft eller andra aktörer.
</p>
<h2>Facebook-id</h2>
<p>
Facebook-id används för att identifiera användaren inom NPC-skaparen.
</p>
{% endblock %}
