body {
	font-size: medium;
	font-family: Verdana, Geneva, Arial, sans-serif;
}

nav {
	background-color: silver;
	/*position: fixed;*/
	width: 100%;
	padding: 20px 0px 20px 0px;
}

.bgsilver {
	background-color: #DCDCDC;
}

#top {
	margin-top: 30px;
}

h1, h2 {
	font-weight:      normal;
	color:            #cc6600;
	border-bottom:    thin dotted #888888;
}

h1 {
	font-size: 170%;
}

h2 {
	font-size: 120%;
}

/*button {
	font-size: 150%;
	width: 150px;
}*/

form {
	display: table;
}

fieldset {
	color: #cc6600;
}

.tableRow {
	display: table-row;
}

.tableCell {
	display: table-cell;
}

label {
	display: inline-block;
	color: black;
}

@media screen and (max-width: 768px) {
	label {
		display: block;
		color: black;
	}
}

#FBlogin {
	width: 250px;
}

#lvl_min, #lvl_max, #age_min, #age_max, #height_min, #height_max {
	width: 25px;
}

#notes {
	height: 200px;
	width: 240px;
}
