<!-- extend base layout -->
{% extends "base.html" %}

{% block content %}
	<h1>Redigera användarnamn</h1>
	<form action="" method="post" name="edituser">
		{{ form.hidden_tag() }}
		<table>
			<tr>
				<td>Nytt användarnamn:</td>
				<td>{{ form.nickname(size=24) }}</td>
			</tr>
			{% for error in form.nickname.errors %}
			<tr>
				<td></td>
				<td><span class="error">[{{ error }}]</span></td>
			</tr>
			{% endfor %}
			<tr>
				<td></td>
				<td>{{ form.submit() }}</td>
			</tr>
		</table>
	</form>
{% endblock %}
