<h2>Grattis!</h2>
<p>
Du har blivit inbjuden att skapa ett konto på NPC-skaparen.<br>
När du har ett konto får du tillgång till alla funktioner,<br>
inte bara att skapa en karaktär utan även spara och dinga dina karaktärer!
</p>
<p>
Använd nedanstående länk för att skapa ditt konto:<br>
<a href="{{ url_for('register', token=token, _external=True) }}" title="Skapa konto">Skapa konto</a>
</p>
<p>
    Alternativt kan du klistra in följande länk i adressfältet i din webläsare:<br>
    {{ url_for('register', token=token, _external=True) }} <br>
</p>
<p>
    Denna inbjudan är giltig i en vecka.
</p>
<p>
Med vänlig hälsning<br><br>
NPC-teamet på ZyntabSoft
</p>
