<h2>Grattis!</h2>
<p>
Du har blivit inbjuden att skapa ett konto på NPC-skaparen.<br>
När du har ett konto får du tillgång till alla funktioner,<br>
inte bara att skapa en karaktär utan även spara och dinga dina karaktärer!
</p>
<p>
Använd nedanstående länk för att skapa ditt konto:<br>
<a href="{{ create_url }}" title="Skapa konto">Skapa konto</a>
</p>
<p>
Nästa gång du vill logga in efter att ditt konto är skapat använder du denna:<br>
<a href="{{ index_url }}" title="NPC-skaparen">Logga in</a>
</p>
<p>
Med vänlig hälsning<br><br>
NPC-teamet på ZyntabSoft
</p>
