<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
	<h1>Logga in</h1>
	<form action="" method="post">
		{{ form.hidden_tag() }}
		<fieldset>
			<legend>Logga in</legend>
			<p>
				{{ form.nickname.label}}<br>
				{{ form.nickname }}<br>
				{% for error in form.nickname.errors %}
					<span class="error">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form.password.label }}<br>
				{{ form.password }}<br>
				{% for error in form.password.errors %}
					<span class="error">[{{ error }}]</span>
				{% endfor %}
			</p>
			<p>
				{{ form.remember_me.label }}<br>
				{{ form.remember_me }}
			</p>
			<p>
				{{ form.submit() }}
			</p>
		</fieldset>
	</form>
	<p>
		Glömt lösenordet? Klicka för att 
		<a href="{{ url_for('reset_password_request') }}" title="Återställ lösenord">
			återställa lösenord</a>.
		</a>
	</p>
{% endblock %}
