<!-- extend from base layout -->
{% extends "base.html" %}

{% block content %}
	<h1>Logga in</h1>
	<form action="" method="post" name="login">
		{{ form.hidden_tag() }}
		<p> {{ form.remember_me }} Kom ihåg mig</p>
		<p><a href="{{ url_for('oauth_authorize', provider='facebook') }}">
				<img id="FBlogin" 
							src="{{ url_for('static', filename='images/loggainmedfacebook.jpeg') }}"
							title="Logga in med facebook"></a></p>
	</form>
	<h2>Fel som kan uppstå</h2>
	<p>
		När man vill logga in kan det hända att det uppstår ett okänt fel. <br>
		Ofta funkar det att gå tillbaka till den här sidan och försöka igen.<br>
		Jag har ingen aning om vad som orsakar detta.
	</p>
{% endblock %}
