<p>Klicka på följande länk för att återställa ditt lösenord på NPC-skaparen:</p>

<p>
    <a href="{{ url_for('reset_password', token=token, _external=True) }}">Återställ lösenord.</a>
</p>
<p>
    Användarnamn: {{ user.nickname }}
</p>
<p>
    Alternativt kan du klistra in denna adress i adressfältet i din webläsare:
</p>
<p>
    {{ url_for('reset_password', token=token, _external=True) }}
</p>
<p>
Om du inte har begärt att återställa lösenordet kan du ignorera detta meddelande.
</p>
<p>
Med vänliga hälsningar,<br>

NPC-teamet vid ZyntabSoft
</p>